body {
  background-color: #F7ECDE;;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #9ED2C6;
  border-width: 5px;
  width: 5%;
}

h1{
  color: #9ED2C6;
}

h3{
  color: #54BAB9;
}
